<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mybatis.mapper.OrderdetailDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mybatis.entity.Orderdetail">
        <id column="detailId" property="detailId" />
        <result column="orderId" property="orderId" />
        <result column="productId" property="productId" />
        <result column="productName" property="productName" />
        <result column="productPrice" property="productPrice" />
        <result column="productQuantity" property="productQuantity" />
        <result column="productIcon" property="productIcon" />
        <result column="createTime" property="createTime" />
        <result column="updateTime" property="updateTime" />
    </resultMap>

</mapper>
